.top{
    background-image: url("arvrbg.png");
    height:100vh;
    width:30vw;
    background-size: cover;
    margin: 0px auto;
   
}
.bottom{
    background-color: white;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    text-align: center;
    
    
}
.btn1{
    border-radius: 5px;
   
    font-size: small;
    height:30px;
    width:100px;
}
.btn2{
    border-radius:5px;
    background-color: blueviolet;
    color:white;
    font-size: small;
    height:30px;
    width:100px;
    margin-left: 10px;
}
.h4{
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}